<section class="container-fluid">
    <div class="row">
      <div class="col-4 text-center">
        <div class="cover-image" style="background-image:url(../assets/img/cover1.jpg);">
        </div><br>
        <h5 class="text-muted">Album 1</h5>
        <button class="btn btn-success"type="button">Play</button>
      </div>
      <div class="col-8">
        
        <!--Item 1 -->
        <div class="row song-item">
          <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
          <div class="col-10">
            <div class="song-title">Cancion</div>
            <div class="song-description">Artista - Album</div>
          </div>
          <div class="col-1">
              <span>3:56</span>
              <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
        </div>

        <div class="row song-item">
          <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
          <div class="col-10">
            <div class="song-title">Cancion</div>
            <div class="song-description">Artista - Album</div>
          </div>
          <div class="col-1">
              <span>3:56</span>
              <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
        </div>

        <div class="row song-item">
          <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
          <div class="col-10">
            <div class="song-title">Cancion</div>
            <div class="song-description">Artista - Album</div>
          </div>
          <div class="col-1">
              <span>3:56</span>
              <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
        </div>

        <div class="row song-item">
          <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
          <div class="col-10">
            <div class="song-title">Cancion</div>
            <div class="song-description">Artista - Album</div>
          </div>
          <div class="col-1">
              <span>3:56</span>
              <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
        </div>

        <div class="row song-item">
          <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
          <div class="col-10">
            <div class="song-title">Cancion</div>
            <div class="song-description">Artista - Album</div>
          </div>
          <div class="col-1">
              <span>3:56</span>
              <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
        </div>

        <div class="row song-item">
          <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
          <div class="col-10">
            <div class="song-title">Cancion</div>
            <div class="song-description">Artista - Album</div>
          </div>
          <div class="col-1">
              <span>3:56</span>
              <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
        </div>

        <div class="row song-item">
          <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
          <div class="col-10">
            <div class="song-title">Cancion</div>
            <div class="song-description">Artista - Album</div>
          </div>
          <div class="col-1">
              <span>3:56</span>
              <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
        </div>

        <div class="row song-item">
          <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
          <div class="col-10">
            <div class="song-title">Cancion</div>
            <div class="song-description">Artista - Album</div>
          </div>
          <div class="col-1">
              <span>3:56</span>
              <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
          </div>
        </div>

      </div>
    </div>
  </section>

  <hr>
  
  <section class="container-fluid">
      <div class="row">
        <div class="col-4 text-center">
          <div class="cover-image" style="background-image:url(../assets/img/cover2.jpg);">
          </div>
          <h5 class="text-muted">Album 2</h5>
          <button class="btn btn-success"type="button">Play</button>
        </div>
        <div class="col-8">
          
          <!--Item 1 -->
          <div class="row song-item">
            <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
            <div class="col-10">
              <div class="song-title">Cancion</div>
              <div class="song-description">Artista - Album</div>
            </div>
            <div class="col-1">
                <span>3:56</span>
                <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
          </div>

          <div class="row song-item">
            <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
            <div class="col-10">
              <div class="song-title">Cancion</div>
              <div class="song-description">Artista - Album</div>
            </div>
            <div class="col-1">
                <span>3:56</span>
                <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
          </div>

          <div class="row song-item">
            <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
            <div class="col-10">
              <div class="song-title">Cancion</div>
              <div class="song-description">Artista - Album</div>
            </div>
            <div class="col-1">
                <span>3:56</span>
                <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
          </div>

          <div class="row song-item">
            <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
            <div class="col-10">
              <div class="song-title">Cancion</div>
              <div class="song-description">Artista - Album</div>
            </div>
            <div class="col-1">
                <span>3:56</span>
                <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
          </div>

          <div class="row song-item">
            <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
            <div class="col-10">
              <div class="song-title">Cancion</div>
              <div class="song-description">Artista - Album</div>
            </div>
            <div class="col-1">
                <span>3:56</span>
                <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
          </div>

          <div class="row song-item">
            <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
            <div class="col-10">
              <div class="song-title">Cancion</div>
              <div class="song-description">Artista - Album</div>
            </div>
            <div class="col-1">
                <span>3:56</span>
                <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
          </div>

          <div class="row song-item">
            <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
            <div class="col-10">
              <div class="song-title">Cancion</div>
              <div class="song-description">Artista - Album</div>
            </div>
            <div class="col-1">
                <span>3:56</span>
                <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
          </div>

          <div class="row song-item">
            <div class="col-1"><fa-icon [icon]="faPlay"></fa-icon></div>
            <div class="col-10">
              <div class="song-title">Cancion</div>
              <div class="song-description">Artista - Album</div>
            </div>
            <div class="col-1">
                <span>3:56</span>
                <button (click)="agregarAPlaylist(modalGuardarEnPlaylist)" class="btn btn-outline-success btn-sm" title="Agregar a playlist"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
          </div>

        </div>
      </div>
    </section>


    <!--Ventana modal de nueva playlist-->
  <ng-template #modalGuardarEnPlaylist let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Guardar cancion en playlist</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <select  class="form-control" name="" id="">
            <option value="">Playlist 1</option>
            <option value="">Playlist 2</option>
            <option value="">PlayList 3</option> </select>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="guardarCancionPlaylist()">Guardar</button>
      <button type="button" class="btn btn-outline-sucesss" (click)="modal.close('boton cerrar')">Cerrar</button>
    </div>
  </ng-template>
