
<app-header></app-header>
<div class="container-fluid">
       <div class="row">
         <app-sidebar (onVerArtista)="verArtista($event)"(onVerPlayList)="verPlayList($event)"></app-sidebar>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div id="vista-playlist" *ngIf="regionVisible=='playlists'">
       <!--playlists-->
       <app-playlists></app-playlists>
      </div>

      <!------------------------------->

      <div id="vista-artista" *ngIf="regionVisible=='artistas'">
        <!--album-->
        <app-album></app-album>
        </div><!--vista-artista-->
         
    </main>
  </div>
</div>

<!--Modal Nueva Lista-->
<div class="modal fade" id="modal-playlist" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-success">Guardar Lista</button>
      </div>
    </div>
  </div>
</div>


